.description-contacts_text {
  text-align: center;
  font-size: 2.4em;
}
.wrap-border {
  border-left: 10px solid #E61E51;
  padding: 5px 4%;
  box-sizing: border-box;
}
.wrap-border{
  border-right: 10px solid black;
  padding: 5px 4%;
  box-sizing: border-box;
}
.wrap-border_text-box {
  max-width: 70%;
  display: inline-block;
}
.wrap-border_img-box {
  width: 15%;
  margin: 7%;
  display: inline-block;
}
.wrap-border_img {
  width: 100%;
}
.wrap-red-border {
  border-left: 10px solid #E61E51;
  padding: 5px 4%;
  box-sizing: border-box;
}
.wrap-black_border {
  border-right: 10px solid black;
  padding: 5px 4%;
  box-sizing: border-box;
}
.contacts_wrap {
  list-style: none;
  padding-left: 33%;
}
.map {
  margin-top: 5%;
}
.contacts_content {
  display: inline-block;
  width: 46%;
}
