.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
body {
  background-size: cover;
  background-repeat: no-repeat;
}
.main-wrap {
  background-color: #ffffff;
  width: cover;
  margin: 0 auto;
  font-family: MyriadProRegular;
}
.main-nav {
  background-color: #e61e51;
  height: 55px;
}
.main-nav_list-wrap {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.main-nav_list {
  display: inline-block;
  float: left;
  width: 20%;
  height: 100%;
}
.main-nav_link {
  display: inline-block;
  font-size: 1.6em;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  text-align: center;
}
.main-nav_link:hover {
  color:  #3f3f3f;
}

.first-nav_list {
  border-top-left-radius: 10px;
}
.last-nav_list {

}
.contacts {
  position: relative;
  margin-left: 3%;
}
.contacts_list-wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 26%;
  list-style: none;
  padding: 0;
}
.contacts-list_link {
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  font-size: 1.4em;
  color: black;
}

.contacts-list {
  position: relative;
  padding: 0;
}
.logo-wrap {
  text-align: center;
}
.description {
  box-sizing: border-box;
  border-left: 10px solid #e61e51;
  text-align: center;
  padding: 8% 17% 2% 17%;
}
.description-text {
  font-size: 2em;
}
.partners {
  box-sizing: border-box;
  border-right: 10px black solid;
  padding-top: 46px;
  padding-bottom: 20px;
}
.partners-slider_view {
  position: relative;
  overflow: hidden;
  display: block;
  height: 200px;
  width: 900px;
  margin: 0 auto;
}
.partners-caption {
  display: block;
  text-align: center;
}
.partners-slider_img-container {
  position: absolute;
  list-style: none;
  padding: 0;
  width: 10000px;
}
.partners-slider_img-list {
  display: inline-block;
  float: left;
  margin-left: 0.5%;
}
.partners-slider_img {
  width: 300px;
}
.main-footer {
  height: 83px;
  background-image: url("./../img/img-for-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 0px;
}
.social-wrap {
  display: inline-block;
  width: 45%;
  padding: 0;
  padding-right: 5%;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  list-style: none;
}
.social-list {
  float: right;
  margin-left: 7%;
}
.contacts-img {
  width: 35px;
}
.active-nav {
  border-bottom: none;
  border-right: none;
  color:  #3f3f3f;
}
.catalog-dropdown {
  background-color: #e61e51;
  position:absolute;
  z-index: 1;
  visibility: hidden;
}
.catalog-dropdown_wrap {
  background-color: #80807f;
  padding: 1% 0;
  margin: 0;
  list-style: none;
  font-size: 1.3em;
}
.catalog-dropdown_list {
  margin: 5% 1%;
	padding-left: 3%;
	vertical-align: middle;
	width: 41%;
	height: 45px;
	display: inline-block;
}
.catalog-dropdown_link {
	text-decoration: none;
	color: black;
}
.catalog-dropdown_link:hover {
	color: #3f3f3f;
}
html, body, .main-wrap {
  height: 100%;
}
body > .main-wrap {
  height: auto;
  min-height: 100%;
}
.main-wrap {
  padding-bottom: 83px;
}
.main-footer {
  position: relative;
	margin-top: -83px; /* отрицательное значение высоты футера */
	height: 83px;
	clear:both;
}
.content {
	margin-bottom: 10%;
}
.big-slider {
	margin-top: 2%;
}
.big-slider_view {
	position: relative;
	overflow: hidden;
	margin-left: 10px;
	width: 98.5%;
	height: 500px;
}
.big-slider_img-box {
	position: absolute;
	width: 50000px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.big-slider_img-list {
	display: inline-block;
	float: left;
}
.big-slider_img {
	width: 100%;
}
